<h4>Your Name:</h4>

<form class="col-md-6">
	<div id="addUser">
		<input class="form-control" type="text" placeholder="Name...." ng-model="newUser.name">
		<input class="form-control btn btn-info" type="submit" value="Login" ng-click="createUser()">
	</div>
	<br>
</form>


<!-- <div class="col-md-12">
	<div  id="addProduct">
		<input class="form-control" type="text" placeholder="Search Name..." ng-model="search">
		<table class="table">
			<thead>
				<th>Customer Name</th>
				<th>Created At</th>
				<th>Actions</th>
			</thead>
			<tr ng-repeat="customer in customers | filter: search">
				<td >{{customer.name}}</td>
				<td >{{customer.createdAt}}</td>
				<td ><button class="btn btn-danger" ng-click="deleteCustomer(customer)">Delete</button></td>
			</tr>
		</table>
	</div>

</div> -->