<div class="pull-right"><a href="#/create">Add a new Appointment</a> | <a href="#/" ng-click="deleteUser()">Logout</a></div>
<h1>Doctors's Appointments</h1>
<h2>Welcome {{user.name}}</h2>

<input class="form-control pull-right" type="text" placeholder="Search Name..." ng-model="search">
<table class="table">
	<thead>
		<th>Date</th>
		<th>Time</th>
		<th>Patient Name</th>
		<th>Complain</th>
	</thead>
	<tr ng-repeat="appt in appts | filter: search | orderBy: appts">
		<td >{{appt.date | date:'MMMM dd yyyy'}}</td>
		<td >{{appt.time | date:'h:mm a'}}</a></td>
		<td >{{appt.name}}</td>
		<td ><p>{{appt.complain}}</p><button ng-if="appt.name == user.name" class="btn btn-danger pull-right" ng-click="deleteAppt(appt)">Cancel</button></td>
	</tr>
</table>
<p ng-if="error" style="color:red">{{error}}</p>


