<h2 ng-if="!user.name">Sorry! you have to <a href="#/">Login</a> first</h2>
<div ng-if="user.name">
	<a class="pull-right" href="#/">Cancel</a>
	<h1 >New Appointment</h1>
	<label>Date:
		<input class="form-control col-md-10" type="date" ng-model="newAppt.date">
	</label>
	<label>Time:
		<input class="form-control col-md-10" type="time" min="08:00:00" max="17:00:00" ng-model="newAppt.time">
	</label>
	<label>Complain:
		<textarea class="form-control" ng-model="newAppt.complain"></textarea>
	</label>
	<a class="btn btn-danger" href="#/">Cancel</a>
	<button class="btn btn-success" ng-click="createAppt()">Add Appointment</button>
	<p ng-if="error" style="color:red">{{error}}</p>
	<p ng-if="errors" style="color:red">{{errors.time.message}}</p>
</div>