<h1 ng-if="!user.name">Sorry! you have to <a href="#/">Login</a> first</h1>
<div ng-if="user.name">
	<a class="pull-right" href="#/dashboard">Cancel</a>
	<h1 >Hey {{user.name}}, Put the question and options here:</h1>
	<label>Question:
		<input class="form-control col-md-10" type="text" ng-model="newSurvey.question">
	</label>
	<label>Option 1:
		<input class="form-control col-md-10" type="text" ng-model="newSurvey.option1">
	</label>
	<label>Option 2:
		<input class="form-control col-md-10" type="text" ng-model="newSurvey.option2">
	</label>
	<label>Option 3:
		<input class="form-control col-md-10" type="text" ng-model="newSurvey.option3">
	</label>
	<label>Option 4:
		<input class="form-control col-md-10" type="text" ng-model="newSurvey.option4">
	</label>
	<button class="btn btn-success" ng-click="createPoll()">Create Poll</button>
</div>